<div class="container">
    <div class="row py-5">
        <div class="col text-center">
            <img src="img/saip.jpg" alt="Teuku M Saif" class="img-thumbnail rounded-circle" width="100">
            <h1>Teuku M Saif</h1>
            <p class="lead">Software Developer | Undergraduate Student</p>
        </div>
    </div>
</div>